<div class="footer_section layout_padding">
  <div class="container">
     <div class="address_main">
        <div class="address_text"><a href="{{ telegram }}" target="_blank"><img src="{{ url_for('static', path='/main/images/telegram.png') }}" alt=""><span class="padding_left_15">Telegram</span></a></div>
        <div class="address_text"><a href="{{ email }}"><img src="{{ url_for('static', path='/main/images/mail-icon.png') }}" alt=""><span class="padding_left_15">Email</span></a></div>
     </div>
  </div>
</div>