<div class="banner_section layout_padding">
  <div id="slider" class="carousel slide" data-ride="carousel">
     <div class="carousel-inner">
        {% include 'main/components/sections/carousel-item.html' %}
     </div>
<!--     <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">-->
<!--     <i class=""><img src="{{ url_for('static', path='/main/images/left-icon.png') }}" alt=""></i>-->
<!--     </a>-->
<!--     <a class="carousel-control-next" href="#slider" role="button" data-slide="next">-->
<!--     <i class=""><img src="{{ url_for('static', path='/main/images/right-icon.png') }}" alt=""></i>-->
<!--     </a>-->
  </div>
</div>
