<div class="carousel-item active">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div>
               <h4 class="banner_taital">The best bots in the Wild West!</h4>
               <div class="read_bt"><a href="#">Read More</a></div>
            </div>
         </div>
         <div class="col-md-6">
            <div><img src="{{ url_for('static', path='/main/images/img-1.png') }}" class="image_1" alt=""></div>
         </div>
      </div>
   </div>
</div>