<div class="newsletter_section">
  <div class="container">
     <div class="row">
        <div class="col-md-6">
           <h1 class="newsletter_text">Subscribe Now </h1>
           <p class="tempor_text">dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
        </div>
        <div class="col-md-6">
           <div class="mail_bt_main">
              <label>
                 <input type="text" class="mail_text" placeholder="Enter Tour Mail" name="Enter Tour Mail">
              </label>
              <div class="subscribe_bt"><a href="#">SUBSCRIBE</a></div>
           </div>
        </div>
     </div>
  </div>
</div>