<div class="services_section layout_padding" id="services">
   <div class="container">
      <h1 class="service_title"><span class="our_text">Our</span> Services</h1>
      <p class="service_text">We are working to make your business grow</p>
      <div class="services_section_2">
         <div class="row">
            <div class="col-sm-6">
               <div class="icon_1"><img src="{{ url_for('static', path='/main/images/icons/telegram-inverse.png') }}" alt=""></div>
               <h4 class="design_text">Telegram Bots</h4>
               <p class="lorem_text">From idea to implementation</p>
            </div>
            <div class="col-sm-6">
               <div class="icon_1"><img src="{{ url_for('static', path='/main/images/icons/programming.png') }}" alt=""></div>
               <h4 class="design_text">Web Development</h4>
               <p class="lorem_text">Modern applications, with the use of modern tools</p>
            </div>
         </div>
      </div>
      <div class="read_bt_2"><a href="#">Read More</a></div>
   </div>
</div>
